.friendMessage {
    display: flex;
    flex-direction: column;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.friendImageAndText img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.friendText {
    background-color: rgb(244 244 244);
    border: none;
    border-radius: 15px;
    padding: 5px;
    height: 100%;
}

.friendText:after {

}

.friendName {
    font-weight: bold;
    font-size: 14px;


}

.friendMessageText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 712px;
    padding-top: 5px;

}

.friendTime {
    display: flex;
    flex-direction: row;
    margin-left: 18px;
    font-size: 10px;
    margin-top: auto;
    font-weight: bold;
    padding-top: 5px;

}
