@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

.burgerMenuIcon {
    height: 24px;
    width: 24px;
    cursor: pointer;

}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 15px;

}

.header h1 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}